body{
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 0;    
}

#header {
    display: flex;
    margin: 0;
    padding: 0;
    height: 8%;
    width: 100%;
    background-color: orange;
    min-height: 80px;
    min-width: 120px;
}

#header img {
    height: 6vh;
    padding: 1vh;
}
#pirates-logo {
    position: absolute;
    right: 1vw;
    height: 6vh;
    padding: 1vh;
}
@media screen and (max-width: 730px) {
    #pirates-logo {
        position: absolute;
        left: 1vw;
        top: 7vh;
        height: 6vh;
        padding: 1vh;
        min-width: 150px;
        min-height: 40px;
    }
    #header {
        height: 14vh;
        min-height: 100px;
    }
}

#header button {
    cursor: pointer;
    height: 3vh;
    margin: 2.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: white;
    background-color: black;
    border: none;
    border-radius: 2vh;
    transition: 1s;
    font-size: 2vh;
    min-height: 20px;
}
@media screen and (max-width: 500px) {
    #header button {
    padding-left: 0.1vh;
    padding-right: 0.1vh;
    height: fit-content;
    padding: 1vw;
    }
}
#header button:hover {
    cursor: pointer;
    height: 3vh;
    margin: 2.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2vh;
    transition: 0.3s;
}

.all-text {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
.text-wrapper {
    width: 49%;
    margin-left: 1vw;
}
.text-wrapper * {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
}

#mission-statement {
    width: 50%;
}
.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.images img {
    border-radius: 4vh; 
    height: 30vh;
    margin-top: 3vh;
    margin: 2vw;
}

@media screen and (max-width: 500px) {
    .all-text {
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 94vw;
        margin: 3vw
}
    .text-wrapper {
        display: block;
        width: 94vw;
        margin: 0vw;
    }
    .text-wrapper * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100vw;
    }

    #mission-statement {
        width: 94vw;
        margin: 0vw;
    }
}