body{
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 0;    
}

#header {
    display: flex;
    margin: 0;
    padding: 0;
    height: 8%;
    width: 100%;
    background-color: orange;
    min-height: 80px;
    min-width: 120px;
}

#header img {
    height: 6vh;
    padding: 1vh;
}
#pirates-logo {
    position: absolute;
    right: 1vw;
    height: 6vh;
    padding: 1vh;
}
@media screen and (max-width: 730px) {
    #pirates-logo {
        position: absolute;
        left: 1vw;
        top: 7vh;
        height: 6vh;
        padding: 1vh;
        min-width: 150px;
        min-height: 40px;
    }
    #header {
        height: 14vh;
        min-height: 100px;
    }
}

#header button {
    cursor: pointer;
    height: 3vh;
    margin: 2.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: white;
    background-color: black;
    border: none;
    border-radius: 2vh;
    transition: 1s;
    font-size: 2vh;
    min-height: 20px;
}
#header button:hover {
    cursor: pointer;
    height: 3vh;
    margin: 2.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2vh;
    transition: 0.3s;
}

.homepage-images {
    background-color: rgb(255, 188, 111);
    height: 40vh;
    display: flex;
    justify-content: center;
}
.homepage-images img {
    padding: 1vh;
    border-radius: 2vh;
}

@media screen and (max-width: 900px) {
    .homepage-images img:not(:nth-child(3)) {
        display: none;
    }
}
#announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#announcement-content {
    white-space: pre-line;
    line-gap-override: 1px;
}
#announcement-content a {
    color: orange;
}
#announcement-content * {
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}