body {
    background-color: rgb(20, 20, 20);
    color: white;
}
.subjects {
    text-align: center;
}
.subjects button {
    height: 10vh;
    width: 15vw;
    font-size: 80%;
    transition: 0.2s;
}
.subjects button:hover {
    height: 10vh;
    width: 15vw;
    font-size: 95%;
    transition: 0.2s;
}
.main-text {
    padding: 19vw;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    width: 60vw;
    flex-wrap: wrap;
    font-family: "Lucida Console", "Courier New", monospace;
}
.main-text img {
    width: 10vw;
    height: auto;
}
.break {
    flex-basis: 100%;
    height: 0;
  }


#handoutListContainer {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
}
.handout a {
    color: orange;
    text-decoration: none;
}
.handoutList {
    display: flex;
    gap: 1vw 2vw;
    
}
.handout {
    text-align: center;
    
}
.handout p {
    margin-top: 1vw;
    transition: 0.5s ease-in-out;
}
.handout img {
    width: 10vw;
    height: auto;
    transition: 0.5s ease-in-out;
    margin: 1vw;
    margin-bottom: 5vw;
    border-radius: 5%;
}
.handout img:hover {
    width: 11vw;
    height: auto;
    box-shadow: 0px 5px 10px orange;
    padding-bottom: 0px;
    margin-bottom: 0px;
    transition: 0.5s ease-in-out;
    margin: 0vw;
}
.handout img:hover + p{
    margin-top: 1vw;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 10px gray;
}


.subjects {
    padding: 19vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    grid-template-rows: 130px auto;
    width: 60vw;
    flex-wrap: wrap;
    font-family: "Lucida Console", "Courier New", monospace;

}

.buttons {
    padding: 19vw;
    padding-top: 30px;
    padding-bottom: 10px;
    display: block;
    justify-content: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px; 
}

.entire-handout {
    justify-content: center;
    align-items: center;
    display: grid;
    width: 94vw;
    height: 1fr;
    row-gap: 0px;
    column-gap: 0vw;
    grid-template-rows: 50px auto;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    padding: 10px;
    margin: 0px;
    border: 5px solid rgb(87, 87, 87);
    border-radius: 5px;
    font-size: 20px;
    
}

.entire-handout-titles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.entire-handout > * {
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    height: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.multi-link-grid {
    display: grid;
}
  
.about-us {
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #042331;
    transition: all .5s ease;
    top: 0px;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #043336;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#checking{
    display: none;
}
label #butn,label #cancelz{
    position: absolute;
    cursor: pointer;
    background: #f9fafa;
    border-radius: 0px;
}
label #butn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: black;
    padding: 6x 12px;
    transition: all .5s;
}
label #cancelz{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s ease;
}
#checking:checked ~ .sidebar{
    left: 0;
}
#checking:checked ~ label #butn{
    left: 250;
    opacity: 0;
    pointer-events: none;
}
#checking:checked ~ label #cancelz{
    left: 195px;
    top: 15px;
    position: sticky    ;
}
#butn {
    height: 4vh;
}

.titles-for-pages {
    height: 50px;
    width: 100%;
    text-align: center;
}

.grid-of-meeting-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.dropdown-settings {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #a0771d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #c78d10;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5 px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border:  1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
}

.menu li:hover {
    background: #2a2d35;
}

.menu li * {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: white;

}

.menu-open {
    display: block;
    opacity: 1;
}

.grid-of-dropdown {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.top-of-home-page {
    background-color: rgb(114, 128, 194);
    min-height: 1fr;
}

.grid-of-dropdown * {
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

